/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



/* Write your CSS styles here */

body{
	background: ;
    width: 75%;
    align-content: flex-end;
    margin: 0 50px;
  	
}

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
  	font-size: 1.5em;
  
}

header img {
    position: relative;
    height: 150px;
    border-radius: 50%;
    margin-top: 50px;
    align: center;
    
}

h1 {
	color: coral;
	text-align:left;
  	font-family: 'Open Sans Condensed', sans-serif;
  	font-size: 2em;
  	font-weight: bold;
}

ul li {
  float: left; 
  margin-right: 30px;
  font-family: 'Open Sans Condensed', sans-serif; 
  font-weight: bold;
  font-size: 2em;
}
#bio {
  width: 100%;
  float: left;
  margin-right: 30px;
}
#more-bio {
  clear: both;
  width: 100%;
  font-size:1.2em;
  font-weight: bold;
  color: tomato;
}
#modal-popup {
  height: 500px;
  width: 500px;
  background-color: tomato;
  z-index: 100;
  position: fixed;
}
#more-bio-text {
   color: black;
  
}
  
  
  
